// REM Functions
@function rem($size) {
    $remSize: $size / 16px;
    @return ($remSize) * 1rem;
}

// EM Functions
@function em($pixels, $context: 16px) {
    @return ($pixels/$context) * 1em;
}

@mixin shadow-radius {
    box-shadow: 0px 0px 8px 3px #00000025;
    border-radius: 35px;
}
